{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="flex-shrink-0">
        <!-- Page content-->
        <section class="py-5">
            <div class="container px-5">
                <!-- Contact form-->
                <div class="bg-light rounded-4 py-5 px-4 px-md-5">
                    <div class="text-center mb-5">
                        <img class="profile-img" src="{% static 'assets/favicon.ico' %}" style="width: 8%; height: 8%" alt="..." />
                        <h1 class="fw-bolder">偷偷告訴我們你喜歡的人</h1>
                        <p class="lead fw-normal text-muted mb-0">如果他也喜歡你，我們會讓你們知道</p>
                        <p class="lead fw-normal text-muted mb-0">否則，這段心事，只留在我們這裡</p>
                    </div>
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form method="POST" action="{% url 'input' %}" onsubmit="return validate_ig()">
                                {% csrf_token %}
                                <!-- Name input-->
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="self_ig_id" name="self_ig" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="self_ig_id">你的IG帳號</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="other_ig_id" name="other_ig" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="other_ig_id">對方的IG帳號</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                                </div>
                                <!-- Submit success message-->
                                <!---->
                                <!-- This is what your users will see when the form-->
                                <!-- has successfully submitted-->
                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        To activate this form, sign up at
                                        <br />
                                        <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>
                                <!-- Submit error message-->
                                <!---->
                                <!-- This is what your users will see when there is-->
                                <!-- an error submitting the form-->
                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                                <!-- Submit Button-->
                                <div class="d-grid"><button class="btn btn-primary btn-lg" id="submitButton" type="submit">提交</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script>
        function validate_ig() {
            const self_ig = document.getElementById("self_ig_id").value.trim().toLowerCase();
            const other_ig = document.getElementById("other_ig_id").value.trim().toLowerCase();

            if (self_ig === other_ig) {
                alert("兩個 IG 帳號不能相同！");
                return false;
            }

            return true;
        }
    </script>

{% endblock %}
